<div ng-include src="'views/navbar.html'"></div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="kaparaChat" ng-controller="SocketCtrl">
            <!--<chat-box></chat-box> //-->
            <div class="chatLog">
                <ul class="media-list">
                    <li class="media" ng-repeat="item in chatLog" ng-class="{'bot':item.bot, 'human':!item.bot}">
                        <div class="media-left pull-left">
                            <img class="media-object" src="images/kapara-avatar.png" alt="kapara ai" ng-if="item.bot">
                            <img class="media-object" src="images/user-avatar.png" alt="kapara ai" ng-if="!item.bot">
                        </div>
                        <div class="media-body">
                            <span class="nickname">{{ item.nickName }}</span>
                            {{ item.message }}
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <form role='form' novalidate name='form'>
                    <div class="input-group input-group-lg">
                        <input type='text' class="form-control"
                               required
                               ng-max='50'
                               ng-model='message'
                               focus>
                            <span class="input-group-btn">
                                <button class='btn btn-primary'
                                        ng-enable='form.$valid'
                                        ng-click="sendMessage(message)">Send!
                                </button>
                            </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
</div>
